block vars	
	- const id = "home"
	- const {title, author, geography, copyright, email, description, keywords, lang} = general
	- const {prefix, baseurl,imagespath} = base

include ../components/menu/menu
include ../components/icon/icon
include ../components/title/title

doctype html
html(lang=lang id=`${prefix}-${id}-html` class=`${prefix}-html`)
	head
		link(rel="canonical" href=baseurl)
		include ./includes/meta
		block meta
		include ./includes/favicon.pug
		meta(name="description" content=metaDescription || description)
		meta(name="keywords" content=metaKeywords || keywords)
		title
			= metaTitle || title
		<!--[if lte IE 8]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		link(rel="shortcut icon" href="img/favicon.ico")
		link(href=`${basedir}bundle.css` rel="stylesheet" type='text/css')
		style
			block style		
	body(id=`${prefix}-${id}-body` class=`${browser} ${prefix}-body`)
		.container
			include ../components/header/header
			p #{email} ok
			block menu
			block content
			include ../components/footer/footer
		include ../assets/sprite/sprite.svg
		script(src=`${basedir}bundle.js`)
		block scriptPage