mixin More({href='/', title="Plus d'info", icon = 'simpleArrowRight', modifier='more'})
	a(href=href title=title class=`${prefix}-more${modifier !== '' ? ` ${prefix}-more--${modifier}` : ''}`)
		+Icon({id:icon})
